.component163,
.component163:hover {
  background-color: var(--color-lawngreen);
  display: flex;
  align-self: stretch;
  width: 100%;
  height: var(--height-61);
  gap: var(--gap-10);
  align-items: center;
  justify-content: center;
  border-radius: var(--br-12);
  padding: var(--padding-12) var(--padding-128);
  box-sizing: border-box;
  border: var(--border-3);
  box-shadow: var(--shadow-inner);
}
.component163 {
  cursor: pointer;
  overflow: hidden;
  flex-shrink: 0;
}
.component163:hover {
  flex-direction: row;
}
.register {
  position: relative;
  font-size: var(--Heading-5);
  text-transform: uppercase;
  font-family: var(--font-urbanist);
  color: var(--color-black);
  text-align: left;
}
