.footer {
  align-self: stretch;
  border-radius: var(--br-24) var(--br-24) var(--br-0) var(--br-0);
  background-color: var(--Assets-Colours-Primary-text);
  overflow-y: auto;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-32) var(--padding-18) var(--padding-0);
  box-sizing: border-box;
  isolation: isolate;
  max-height: 400px;
  max-width: 100%;
  gap: -22px var(--gap-10);
  z-index: 5;
  text-align: left;
  font-size: var(--fs-20);
  color: var(--color-dimgray-200);
  font-family: var(--font-urbanist);
}
.footer,
.footer:hover,
.row,
.row:hover {
  display: flex;
  width: 100%;
  height: auto;
}
.footer:hover {
  background-color: var(--Assets-Colours-Primary-text);
  align-self: stretch;
  flex-direction: column;
  gap: -22px var(--gap-10);
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--br-24) var(--br-24) var(--br-0) var(--br-0);
  padding: var(--padding-32) var(--padding-18) var(--padding-0);
  box-sizing: border-box;
  max-height: 400px;
  max-width: 100%;
}
.row,
.row:hover {
  gap: var(--gap-30) 382.5px;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  max-width: 1360px;
}
.row {
  z-index: 1;
  flex-shrink: 0;
}
.row:hover {
  flex-direction: row;
  justify-content: flex-start;
}
.column {
  flex: 1;
  gap: var(--gap-40) var(--gap-10);
  min-width: 320px;
  font-size: 25px;
  color: var(--Assets-Colours-Brand-static);
}
.column,
.column2,
.column2:hover,
.column:hover {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
}
.column:hover {
  flex: 1;
  gap: var(--gap-40) var(--gap-10);
  justify-content: flex-start;
  min-width: 320px;
}
.column2,
.column2:hover {
  align-self: stretch;
  gap: var(--gap-8) var(--gap-10);
  width: 100%;
}
.column2:hover {
  justify-content: flex-start;
}
.lenientTreeAccessToContainer {
  width: 307.5px;
  position: relative;
  line-height: var(--lh-30);
  display: block;
  height: auto;
}
.lenientTreeAccessToContainer:hover {
  line-height: var(--lh-30);
  text-align: left;
  color: var(--Assets-Colours-Brand-static);
  display: block;
  width: 307.5px;
  height: auto;
}
.accessToEvents,
.lenientTree {
  line-height: var(--lh-30);
}
.accessToEvents {
  font-size: var(--fs-20);
}
.theLenientTree,
.theLenientTree:hover {
  font-size: var(--fs-18);
  color: var(--color-gray);
  display: block;
  align-self: stretch;
  width: 100%;
  height: auto;
}
.theLenientTree {
  position: relative;
}
.theLenientTree:hover {
  font-family: var(--font-urbanist);
  text-align: left;
}
.row2,
.row2:hover {
  width: 160px;
  height: var(--height-20);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-20) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-10);
}
.row2:hover {
  flex-direction: row;
  justify-content: flex-start;
}
.rowChild,
.rowChild:hover {
  display: block;
  width: var(--width-20);
  height: var(--height-20);
}
.rowChild,
.vectorIcon {
  position: relative;
  max-height: 100%;
}
.vectorIcon,
.vectorIcon:hover {
  background-color: var(--color-gray);
  display: block;
  width: var(--width-20);
  height: var(--height-20);
}
.column3,
.column3:hover {
  height: 161px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-11) var(--gap-10);
  width: auto;
  align-self: unset;
}
.column3:hover {
  justify-content: flex-start;
}
.quickLinks,
.quickLinks:hover {
  font-weight: 600;
  line-height: var(--lh-30);
  display: block;
  width: auto;
  align-self: unset;
  height: auto;
}
.quickLinks {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-family: inherit;
}
.quickLinks:hover {
  font-family: var(--font-urbanist);
  font-size: var(--fs-20);
  text-align: left;
  color: var(--color-dimgray-200);
}
.column4,
.column4:hover {
  width: var(--width-100);
  height: var(--height-120);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-0) 17px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-15) var(--gap-10);
}
.column4:hover {
  justify-content: flex-start;
}
.home {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: var(--lh-30);
  font-weight: 400;
  font-family: inherit;
  display: block;
}
.column5,
.column5:hover,
.home,
.home:hover {
  width: auto;
  align-self: unset;
  height: auto;
}
.home:hover {
  font-family: var(--font-urbanist);
  font-size: var(--fs-20);
  line-height: var(--lh-30);
  text-align: left;
  color: var(--color-dimgray-200);
  display: block;
}
.column5,
.column5:hover {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10);
}
.column5:hover {
  justify-content: flex-start;
}
.essentials,
.essentials:hover {
  font-weight: 600;
  line-height: var(--lh-30);
  display: block;
}
.essentials {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-family: inherit;
}
.essentials:hover {
  font-family: var(--font-urbanist);
  font-size: var(--fs-20);
  text-align: left;
  color: var(--color-dimgray-200);
}
.column6,
.column6:hover,
.essentials,
.essentials:hover {
  align-self: stretch;
  width: 100%;
  height: auto;
}
.column6,
.column6:hover {
  display: flex;
  flex-direction: column;
  gap: var(--gap-14) var(--gap-10);
  align-items: flex-start;
}
.column6 {
  font-family: var(--font-roboto);
}
.column6:hover {
  justify-content: flex-start;
}
.termsConditions {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: var(--lh-30);
  font-weight: 400;
  font-family: inherit;
}
.lenient,
.lenient:hover,
.termsConditions,
.termsConditions:hover {
  display: block;
  align-self: stretch;
  width: 100%;
  height: auto;
}
.termsConditions:hover {
  font-family: var(--font-roboto);
  font-size: var(--fs-20);
  line-height: var(--lh-30);
  text-align: left;
  color: var(--color-dimgray-200);
}
.lenient,
.lenient:hover {
  font-weight: 700;
  font-size: 360px;
  color: var(--color-gray);
}
.lenient {
  position: relative;
  font-family: inherit;
  z-index: 2;
  margin: -22px 0 0;
  flex-shrink: 0;
}
.lenient:hover {
  font-family: var(--font-urbanist);
  text-align: left;
}
@media screen and (max-width: 1350px) {
  .row {
    gap: 191px;
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .row {
    gap: 96px;
  }
  .lenient {
    font-size: 144px;
  }
}
@media screen and (max-width: 450px) {
  .row {
    gap: var(--gap-48);
  }
  .column {
    gap: var(--gap-20);
  }
  .essentials,
  .home,
  .lenientTreeAccessToContainer,
  .quickLinks,
  .termsConditions {
    font-size: var(--fs-16);
    line-height: var(--lh-24);
  }
  .lenient {
    font-size: 90px;
  }
}
